@import url(//fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700);

body {
  margin: 0;
  padding: 0;
  font-family: "Source Sans Pro" ,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size:15px;
  line-height:1.42857143;
  color:#ebebeb;
  background-color:#2b3e50;
}
